<!-- main-pages.component.html -->
<div class="container">
    <div class="sidebar">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Ministerio_de_Salud_P%C3%BAblica_de_Ecuador_logo.svg/1200px-Ministerio_de_Salud_P%C3%BAblica_de_Ecuador_logo.svg.png" alt="Logo">
        </div>
        <ul class="nav">
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/administrador" routerLinkActive="active">Administrador</a></li>
            <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
            <li><a routerLink="/proveedores" routerLinkActive="active">Proveedores</a></li>
        </ul>
    </div>

    <!-- Proyecta el contenido del componente hijo directamente en el componente padre -->
    <ng-content></ng-content>
</div>
<router-outlet></router-outlet>
